.mainTable {
	.mainTh {
		background-color: rgba(67, 67, 67, 0.573);

		color: rgb(255, 255, 248);
		font-size: 22px;
		font-weight: 800;

		border: none;
		text-align: center;
	}
}
td[data-column-id="name"] > div {
	display: flex;
	align-items: center;
	gap: 12px;
}

.iconWrapper {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 54px;
	height: 54px;
	background-color: rgb(128, 128, 128);
	border-radius: 50%;

	.mainIcon {
		stroke: black;
	}
}
.mainName {
	font-size: 22px;
	font-weight: 600;
}
