.mainTable {
	.mainTh {
		background-color: rgba(67, 67, 67, 0.573);

		color: rgb(255, 255, 248);
		font-size: 22px;
		font-weight: 800;

		border: none;
		text-align: center;
	}
}
td[data-column-id="name"] > div {
	display: flex;
	align-items: center;
	gap: 12px;
}

.iconWrapper {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 54px;
	height: 54px;
	background-color: rgb(128, 128, 128);
	border-radius: 50%;

	.mainIcon {
		stroke: black;
	}
}
.mainName {
	font-size: 22px;
	font-weight: 600;
}

.options {
	display: inline-flex;
	width: 100%;

	align-items: center;
	justify-content: center;
	gap: 4px;

	&Button {
		height: 40px;
		width: 30%;

		display: flex;
		align-items: center;
		justify-content: center;

		border: none;
		border-radius: 16px;
		background-color: rgba(128, 128, 128, 0.624);

		transition-property: background-color;
		transition-duration: 250ms;
		transition-timing-function: ease-out;

		&:hover {
			background-color: rgba(128, 128, 128, 0.782);
		}

		&:active {
			background-color: rgb(128, 128, 128);
		}
	}
}
