.container {
	padding: 40px 16px;
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.backdrop {
	position: absolute;
	top: 0;
	left: 0;

	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 100%;
	background-color: #00000093;
	overflow: hidden;
}

.is-hidden {
	position: absolute;

	visibility: hidden;
	opacity: 0;
	pointer-events: none;

	width: 1px;
	height: 1px;
	overflow: hidden;

	margin: -5px;
	border: 0;
	padding: 0;

	clip: rect(0 0 0 0);
}
