.modal {
	position: relative;

	width: 500px;

	padding: 12px;
	border-radius: 16px;
	background-color: #fff;

	&Title {
		font-size: 32px;
		font-weight: 700;
		text-align: center;

		margin-bottom: 12px;
	}

	&OpenBtn {
		margin: 0 auto;
		padding: 4px;
		height: 40px;
		border: none;
		border-radius: 12px;

		background-color: #808080;

		transition-property: background-color;
		transition-duration: 250ms;
		transition-timing-function: ease-out;

		&:hover {
			background-color: #808080ac;
		}
	}

	&CloseBtn {
		position: absolute;
		top: 8px;
		right: 8px;
		z-index: 1;

		display: flex;
		justify-content: center;
		align-items: center;

		width: 40px;
		height: 40px;
		border: none;
		border-radius: 50%;

		background-color: #808080;

		transition-property: background-color;
		transition-duration: 250ms;
		transition-timing-function: ease-out;

		&:hover {
			background-color: #808080ac;
		}
	}

	&CloseIcon {
		z-index: 0;
	}

	&Form {
		display: flex;
		flex-direction: column;
		gap: 6px;

		label {
			text-align: center;

			display: flex;
			flex-direction: column;
			gap: 4px;

			textarea,
			input,
			select {
				border: 2px solid rgb(2, 204, 214);
				border-radius: 12px;
				padding: 4px;
				resize: none;

				&:focus {
					border: 2px solid rgb(0, 33, 86);
				}
			}
		}
	}

	&Submit {
		// margin-left: 0 auto;
		padding: 4px;
		height: 40px;
		border: none;
		border-radius: 20px;

		background-color: #808080;

		transition-property: background-color;
		transition-duration: 250ms;
		transition-timing-function: ease-out;

		&:hover {
			background-color: #808080ac;
		}
	}
}
